*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'DM Sans';
    src: url(fonts/DMSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'DM Sans';
    src: url(fonts/DMSans-Bold.ttf);
    font-weight: 700;
}

body {
    background-color: #191919;
    color: white;
    font-family: 'DM Sans';
    display: flex;
    flex-direction: column;
    font-size: 17px;
    max-width: 1440px;
    margin: 0 auto;
}

.item {
    border: 1px solid white;
}


/*          Header          */
.header {
    width: 100%;
    height: 112px;
    padding: 0px 47px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 40px;   
}

img {
    max-width: 100%;
}

.navigation {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0px 20px;
}


a {
    text-decoration: none;
    color: inherit;
}

a.active {
    color: #118DA8;
}

a:hover {
    transition: 0.3s;
    color: #118DA8;
}

.main_container {
    padding: 0 4.86vw;
}

.burger_menu {
    display: none;
}

/*   Hero           */

.hero_container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 6.94vw;
}

.hero_img {
    width: 50%;
    position: relative;
    border-radius: 12px;
}

.hero_image {
    border-radius: 12px;
}

.hero_3_lines {
    position: absolute;
    top: -1.8vw;
    left: -1.8vw;
    width: 4.72vw;
}

.hero_content {
    padding-left: 4.16vw;
    width: 50%;
    
}

.hero_title {
    font-size: 4.86vw;
    font-weight: 400;
    line-height: 6.11vw;
    letter-spacing: 3.2px;
    margin: 0;
}

.hero_title_next {
    font-size: 5.20vw;
    position: relative;
}

.hero_title_next::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url(assets/line.svg);
    height: 11px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.hero_title_level {
    font-size: 5.55vw;
    letter-spacing: 2.7px;
    font-weight: 700;
}


.hero_caption {
    width: 289px;
    height: 72px;
    padding: 6.04vw 1.52vw 15.97vw 1.52vw;

}

.hero_caption_text {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

.hero_social_item {
    width: 32px;
    height: 32px;
    margin-right: 13px;
    display: inline-block;
}

/*   Episodes      */

.episodes_caption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.13vw;
    height: 6.25vw;
    align-items: center;
}

.episodes_title {
    font-size: 4.44vw;
    letter-spacing: 0.2vw;
    font-weight: 400;
    margin: 0;
    top: -1.18vw;
    position: relative;
}

.episodes_caption_button {
    width: 12.36vw;
    height: 3.54vw;
    text-align: center;
    background-color: #118DA8;
    border-radius: 6px;
    transition: 0.3s;
}

.episodes_caption_button a {
    display: inline-block;
    position: relative;
    right: 0.07vw;
    font-size: 1.2vw;
    width: 100%;
    line-height: 3.54vw;
}

.episodes_caption_button:hover {
    background-color: #118da87a;
    transition: 0.3s;
}

.episodes_all_items {
    margin-bottom: 18.82vw;
}

.episodes_item {
    display: flex;
    padding: 2.77vw;
    border-radius: 32px;
    background-color: #000000;
    margin-bottom: 3.82vw;
    max-height: 545px;
}

.episodes_item_img {
    width: 27.01vw;
    max-width: 27.01vw;
    min-width: 27.01vw;
}

.episodes_item_content {
    padding-left: 3.68vw;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    max-width: 57.71vw;
}

.episodes_item_tag {
    font-size: 1.30vw;
    line-height: 1.87vw;
    border-radius: 6px;
    background-color: #191919;
    text-align: center;
    display: inline-block;
    padding: 0 1.11vw;
    position: relative;
    top: 0.55vw;
}

.episodes_number {
    line-height: 1.87vw;
    color: #118DA8;
    font-size: 1.18vw;
    width: 100%;
    position: relative;
    top: 1.73vw;
}

.episodes_number_id {
    font-size: 1.23vw;
    margin-left: 4px;
    position: relative;
    top: 0.07vw;
}

.episodes_item_title {
    font-size: 4.44vw;
    line-height: 4.88vw;
    letter-spacing: 0.17vw;
    margin: 0;
    font-weight: 400;
    position: relative;
    top: 0.97vw;
}

.episodes_item_description {
    font-size: 1.52vw;
    line-height: 2.29vw;
    color: #FFFFFFB2;
    margin: 0;
    position: relative;
    top: 0.83vw;
}

.episodes_item_button {
    width: 14.44vw;
    height: 3.54vw;
    background-color: #118DA8;
    border-radius: 6px;
    color: #FFFFFF;
    transition: 0.3s;
    align-content: center;
}

.episodes_item_button a {
    display: inline-block;
    width: 100%;
    font-size: 1.25vw;
    line-height: 3.54vw;
    text-align: center;
    position: relative;
    left: 0.21vw;
    top: 0.07vw;
}

.episodes_item_button:hover {
    background-color: #118da87a;
    transition: 0.3s;
}


/* Author   */
.autor_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 13.6vw;
}

.author_content {
    max-width: 45.14vw;
    padding-right: 3.05vw;
    position: relative;
    top: 10.28vw;
}

.author_link {
    width: 7.78vw;
}

.author_caption {
    font-size: 1.25vw;
    line-height: 1.87vw;
    color: #118DA8;
    position: relative;
    top: 1.11vw;
}

.author_title {
    font-size: 4.51vw;
    font-weight: 400;
    line-height: 5.5vw;
    letter-spacing: 0.2vw;
    color: #FFFFFF;
    margin: 0;
    position: relative;
    top: 0.97vw;
}

.author_description {
    font-size: 1.52vw;
    font-weight: 400;
    line-height: 2.29vw;
    margin: 0;
    position: relative;
    top: 2.92vw;
    margin-bottom: 2.29vw;
}

.author_img img {
    border-radius: 12px;
}


/*  Subscribe */

.subscribe_container {
    display: flex;
    border-radius: 32px;
    background-color: #000000;
    padding: 2.08vw;
    height: 26.87vw;
    margin-bottom: 13.89vw;
}

.subscribe_title_box {
    position: relative;
    width: 50%;
    padding-left: 2.08vw;
    padding-right: 7.36vw;
}

.subscribe_caption {
    font-size: 1.25vw;
    line-height: 1.87vw;
    color: #118DA8;
    position: relative;
    top: 2.08vw;

}

.subscribe_title {
    font-size: 5vw;
    line-height: 5.5vw;
    letter-spacing: 0.2vw;
    color: #FFFFFF;
    margin: 0;
    font-weight: 400;
    position: relative;
    top: 1.94vw;
}

.subscribe_decor {
    position: absolute;
    left: -4.72vw;
    bottom: -3.89vw;
    width: 10.21vw;
}

.subscribe_form {
    padding-left: 4.72vw;
    padding-top: 2.08vw;
}

.subscribe_form input {
    background-color: #191919;
    border: 1px solid #191919;
    font-size: 1.67vw;
    line-height: 2vw;
    color: #FFFFFFB2;
    width: 36.25vw;
    height: 5.69vw;
    border-radius: 6px;
    padding-left: 1.25vw;
    margin-bottom: 1.39vw;
}

.subscribe_form_submit input {
    width: 6.04vw;
    height: 3.33vw;
    border-radius: 6px;
    font-size: 1.03vw;
    font-weight: 700;
    line-height: 2vw;
    color: #FFFFFFB2;
    background-color: #118DA8;
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 0.21vw;
    padding-top: 0.07vw;
    border: 0;
    cursor: pointer;
}

.subscribe_form_submit input:hover {
    color: #118DA8;
    background-color: #FFFFFFB2;
    transition: 0.3s;
}


/* Reviews */

.reviews_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 22.29vw 25.28vw;
    gap: 1.11vw;
    margin-bottom: 13.9vw;
}

.reviews_item {
    padding: 3.51vw;
    background-color: #000000;
    border-radius: 2.22vw;
    display: grid;
    grid-auto-rows: max-content;
    gap: 1.38vw;
}

.reviews_item_3 {
    position: relative;
    left: -0.07vw;
}

.reviews_item_6 {
    position: relative;
    left: -0.07vw;
}

.reviews_stars {
    height: 1.25vw;
    margin-top: 0.21vw;
    padding-top: 0.07vw;
    display: flex;
}

.reviews_stars div {
    background-image: url(assets/star.svg);
    background-repeat: no-repeat;
    width: 1.6vw;
    background-size: contain;
}

.reviews_comment {
    font-size: 2.5vw;
    line-height: 3vw;
    color: #FFFFFF;
    margin-top: 1.46vw;
    margin: 0;
}

.reviews_item_5 .reviews_comment {
    font-size: 2.43vw;
}

.comment_author {
    font-size: 1.67vw;
    line-height: 2vw;
    color: #FFFFFFB2;
    margin-top: 1.38vw;
    margin: 0;
    font-weight: 400;
    grid-area: 3;
}

.reviews_item_5 .comment_author,
.reviews_item_6 .comment_author {
    font-size: 1.6vw;
}

.reviews_item_6 .reviews_comment {
    font-size: 2.4vw;
    line-height: 2.4vw;
}

/* Footer */

.footer {
    display: flex;
    padding: 0 4.86vw;
    justify-content: flex-start;
    margin-bottom: 8.33vw;
}

.footer_main {
    width: 35.6%;
}

.footer_logo {
    margin-bottom: 1.6vw;
    width: 15.55vw;
    height: 3.19vw;
}

.share_icon {
    margin-right: 0.42vw;
}

.share_icon:hover {
    color: #118DA8;
}

.footer .hero_social_item {
    margin-right: 0.90vw;
}

.footer_pages_1 {
    width: 15%;
}

.footer_link {
    font-size: 1.18vw;
    line-height: 1.87vw;
    margin-bottom: 0.69vw;
}

.footer_link:hover {
    color: #118DA8;
}

.footer_link_font {
    font-size: 1.25vw;
}

.footer_pages_2 {
    width: 15%;
}
